# Local development
node_modules
.next
.env*.local
.env

# Build artifacts
dist
build
coverage
.turbo

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Testing
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Storybook
storybook-static
