[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run migration:run && npm run start:prod"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
